NODE_ENV="production"
PORT="3000"
HOST="0.0.0.0"
APP_URL="http://APP_SERVER_IP:3000"
NEXT_PUBLIC_APP_URL="http://APP_SERVER_IP:3000"
AUTH_SECRET="REMPLACER_PAR_UN_SECRET_LONG_ALEATOIRE"
AUTH_COOKIE_SECURE="false"
DATABASE_URL="postgresql://tradboard:REMPLACER_MDP@DB_SERVER_IP:5432/tradboard?schema=public"
